{% extends "basic.html" %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
{% endblock %}

{% block otsikko %}{% endblock %}
{% block content %}
<h1>{{ title }}: {{ kieli }}</h1>
{% endblock %}

{% block js %}
{{ super() }}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
{% endblock %}